<div class="container">
  <div class="row">

    <h1 class="wow bounceInRight" data-wow-duration="5s" data-wow-delay="0.5s"><a [href]='feeds.url' target="_blank">{{feeds.title}}</a></h1>

      <div class="col-md-8 wow bounceInLeft" style="height: 50%" *ngFor='let i of response | slice:0:1' data-wow-duration="5s" data-wow-delay="0.5s">
        <div class="parent">
          <img [src]="i.enclosure.link">   
          <a [href]='i.link' target="_blank">
            <div class="caption">
                <p>{{i.title | shortcut:40}}</p> // Control the title length through the shortcut.pipe.ts
                <span>{{i.pubDate}}</span>
            </div>
          </a>
        </div>  
      </div>

      <div class="col-md-4 wow bounceInRight" *ngFor='let i of response | slice:1:6' data-wow-duration="5s" data-wow-delay="0.5s">
        <div class="parent">
          <img [src]="i.enclosure.link">   
          <a [href]='i.link' target="_blank">
            <div class="caption">
                <p>{{i.title | shortcut:30}}</p>  
                <span>{{i.pubDate}}</span>
            </div>
          </a>
        </div>  
      </div>

      <div class="col-md-8 wow bounceInLeft" style="height: 50%" *ngFor='let i of response | slice:9:10' data-wow-duration="5s" data-wow-delay="0.5s">
        <div class="parent">
          <img [src]="i.enclosure.link">   
          <a [href]='i.link' target="_blank">
            <div class="caption">
                <p>{{i.title | shortcut:40}}</p>
                <span>{{i.pubDate}}</span>
            </div>
          </a>
        </div>  
      </div>

  </div>
</div>