
.container{
    margin: 50px auto;
    h1{     
        font-size:20px;
        padding: 0px 20px;
        a{
            color: #000;
            text-decoration: none;
        }
    }
    .parent{
        position: relative;
        margin: 20px 0px;
        overflow: hidden;
        img{
            height: 200px;
            width: 100%;
        }
        .caption{
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            bottom:0%;
            color: #fff;
            padding: 0px 10px;
            height: 100%;
            width: 100%;
            font-weight: bold;
            transition: all 0.5s;
            &:hover{
                opacity: 0;
            }
            p{
                position: absolute;
                bottom: 10%;
                font-size: 18px;
            }
            span{
                position: absolute;
                bottom:0%;
                font-size: 14px;
            }
        }
    }
}
